<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pimp My bolide</title>


    <!--
    - favicon
  -->
    <link rel="shortcut icon" href="./assets/images/favicon.png" >

    <!--
      - custom css link
    -->
    <link rel="stylesheet" href="../static/style/style.css">
    <link rel="stylesheet" href="../static/style/page-detail.css">


</head>

<body id="top">

<!--
  - #navbar
-->

<header class="header" data-header>
    <div class="boite">

        <div class="overlay" data-overlay></div>

        <a href="/" class="logo">
            <img src="../static/image/grosLogo.png" width="250" height="80" alt="Loge">
        </a>

        <button class="nav-open-btn" data-nav-open-btn aria-label="Open Menu">
            <ion-icon name="menu-outline"></ion-icon>
        </button>

        <nav class="navbar" data-navbar>

            <button class="nav-close-btn" data-nav-close-btn aria-label="Close Menu">
                <ion-icon name="close-outline"></ion-icon>
            </button>

            <a href="/" class="logo">
                <img src="../static/image/grosLogo.png" width="90" height="90" alt="logo">
            </a>

            <ul class="navbar-list">

                <li class="navbar-item">
                    <a href="/" class="navbar-link">Home</a>
                </li>

                <li class="navbar-item">
                    <a href="/show_voiture" class="navbar-link">Products</a>
                </li>

                <li class="navbar-item">
                    <a href="./show_voiture" class="navbar-link">Shop</a>
                </li>

                <li class="navbar-item">
                    <a href="#" class="navbar-link">Contact</a>
                </li>

            </ul>


            <ul class="nav-action-list">

                <li>
                    <button class="nav-action-btn">
                        <ion-icon name="search-outline" aria-hidden="true"></ion-icon>

                        <span class="nav-action-text">Search</span>
                    </button>
                </li>

                <li>
                    <a href="#" class="nav-action-btn">
                        <ion-icon name="person-outline" aria-hidden="true"></ion-icon>

                        <span class="nav-action-text">Login / Register</span>
                    </a>
                </li>


                <li>
                    <button class="nav-action-btn">
                        <ion-icon name="heart-outline" aria-hidden="true"></ion-icon>

                        <span class="nav-action-text">Wishlist</span>

                        <data class="nav-action-badge" value="5" aria-hidden="true">5</data>
                    </button>
                </li>

                <li>
                    <a href="./panier">
                        <button class="nav-action-btn">
                            <ion-icon name="bag-outline" aria-hidden="true"></ion-icon>
                            <data class="nav-action-badge" value="1" aria-hidden="true">4</data>
                        </button>
                    </a>
                </li>

            </ul>

        </nav>

    </div>
</header>


<!---
  navbar
  -->


<header>
    <h1>{{ voiture.nomMarque}}<span class="product-title-additional">{{ voiture.nomVoiture }}</span></h1>
</header>

<section class="product-details">
    <div class="product-images">
        <div id="product-carousel" class="carousel">
            <!-- Les images du produit -->
            <img src="../static/image/photo_voiture/{{ voiture.idVoiture }}-face.jpg" alt="Image 1" class="carousel-item" style="display: block;">
            <img src="../static/image/photo_voiture/{{ voiture.idVoiture }}-cul.jpg" alt="Image 2" class="carousel-item" style="display: none;">
            <img src="../static/image/photo_voiture/{{ voiture.idVoiture }}-volant.jpg" alt="Image 3" class="carousel-item" style="display: none;">
        </div>
        <div id="tuned-car-carousel" class="carousel">
            <img src="../static/image/photo_voiture/{{ voiture.idVoiture }}-face2.jpg" alt="Voiture tunée" class="tuned-car-image" style="display: none;">
            <img src="../static/image/photo_voiture/{{ voiture.idVoiture }}-cul2.jpg" alt="Voiture tunée" class="tuned-car-image" style="display: none;">
            <img src="../static/image/photo_voiture/{{ voiture.idVoiture }}-volant2.jpg" alt="Voiture tunée" class="tuned-car-image" style="display: none;">
        </div>
        <button id="prev-button" class="image-nav-button">&#9664;</button>
        <button id="next-button" class="image-nav-button">&#9654;</button>
    </div>

    <div class="product-info">
        <div class="product-options">
            <label for="engine-stage">Choisir la puissance du moteur :</label>
            <select id="engine-stage">
                <option value="stage0">Stage 0 : {{ voiture.chStage0 }}ch</option>
                <option value="stage1">Stage 1 : {{ voiture.chStage1 }}ch</option>
                <option value="stage2">Stage 2 : {{ voiture.chStage2 }}ch</option>
                <option value="stage3">Stage 3 : {{ voiture.chStage3 }}ch</option>
            </select>
            <!-- Bouton pour l'option de tuning -->
            <button id="tuning-button">Option Tuning</button>
        </div>

        <ul>
            <li>Marque : <span id="product-brand">{{ voiture.nomMarque }}</span></li>
            <li>Modèle : <span id="product-model">{{ voiture.nomVoiture }}</span></li>
            <li>Prix : <span title="{{ voiture.prixVoiture }}" id="product-price">{{ voiture.prixVoiture }}</span> €</li>
            <li>Stock : <span id="product-stock">10</span> unités</li>
        </ul>

        <h3>Descriptif :</h3>
        <p id="product-description">
            {{ voiture.description }}
        </p>

        <button onclick= "location.href='/panier/add?idVoiture={{ voiture.idVoiture }}'" id="add-to-cart-button">Ajouter au Panier</button>
    </div>
</section>

<script src="{{ url_for('static', filename = 'js/script.js') }}"></script>










<!--
  - #SERVICE
-->

<section class="section service">
    <div class="boite">

        <ul class="service-list">



            <li class="service-item">
                <div class="service-case">

                    <div class="case-icon">
                        <img src="../static/image/service-2.png" width="43" height="35" loading="lazy" alt="Service icon">
                    </div>

                    <div>
                        <h3 class="h4 case-titre">Quick Payment</h3>

                        <p class="case-text">
                            100% secure payment
                        </p>
                    </div>

                </div>
            </li>

            <li class="service-item">
                <div class="service-case">

                    <div class="case-icon">
                        <img src="../static/image/service-3.png" width="40" height="40" loading="lazy" alt="Service icon">
                    </div>

                    <div>
                        <h3 class="h4 case-titre">Free Returns</h3>

                        <p class="case-text">
                            Money back in 30 days
                        </p>
                    </div>

                </div>
            </li>

            <li class="service-item">
                <div class="service-case">

                    <div class="case-icon">
                        <img src="../static/image/service-4.png" width="40" height="40" loading="lazy" alt="Service icon">
                    </div>

                    <div>
                        <h3 class="h4 case-titre">24/7 Support</h3>

                        <p class="case-text">
                            Get Quick Support
                        </p>
                    </div>

                </div>
            </li>

        </ul>

    </div>
</section>







<!--
- #FOOTER
-->

<footer class="footer">

    <div class="footer-top section">
        <div class="boite">

            <div class="footer-marque">

                <a href="#" class="logo">
                    <img src="../static/image/miniLogo.jpeg" width="160" height="50" alt="logo">
                </a>

                <ul class="social-list">

                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-facebook"></ion-icon>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-twitter"></ion-icon>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-pinterest"></ion-icon>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-linkedin"></ion-icon>
                        </a>
                    </li>

                </ul>

            </div>

            <div class="footer-link-box">

                <ul class="footer-list">

                    <li>
                        <p class="footer-list-titre">Contact Us</p>
                    </li>

                    <li>
                        <address class="footer-link">
                            <ion-icon name="location"></ion-icon>

                            <span class="footer-link-text">
                      2751 S Parker Rd, Aurora, CO 80014, United States
                    </span>
                        </address>
                    </li>

                    <li>
                        <a href="tel:+557343673257" class="footer-link">
                            <ion-icon name="call"></ion-icon>

                            <span class="footer-link-text">+557343673257</span>
                        </a>
                    </li>

                    <li>
                        <a href="mailto:pimpMyBolide@help.com" class="footer-link">
                            <ion-icon name="mail"></ion-icon>

                            <span class="footer-link-text">pimpMyBolide@help.com</span>
                        </a>
                    </li>

                </ul>

                <ul class="footer-list">

                    <li>
                        <p class="footer-list-titre">My Account</p>
                    </li>

                    <li>
                        <a href="#" class="footer-link">
                            <ion-icon name="chevron-forward-outline"></ion-icon>

                            <span class="footer-link-text">My Account</span>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">
                            <ion-icon name="chevron-forward-outline"></ion-icon>

                            <span class="footer-link-text">View Cart</span>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">
                            <ion-icon name="chevron-forward-outline"></ion-icon>

                            <span class="footer-link-text">Wishlist</span>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">
                            <ion-icon name="chevron-forward-outline"></ion-icon>

                            <span class="footer-link-text">Compare</span>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">
                            <ion-icon name="chevron-forward-outline"></ion-icon>

                            <span class="footer-link-text">New Products</span>
                        </a>
                    </li>

                </ul>

                <div class="footer-list">

                    <p class="footer-list-titre">Help</p>

                    <table class="footer-table">
                        <tbody>

                        <ul>

                            <li>
                                <a href="#" class="footer-link">

                                    <span class="footer-link-text">Help center</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="footer-link">


                                    <span class="footer-link-text">orders Status</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="footer-link">


                                    <span class="footer-link-text">Returns & Orders</span>
                                </a>
                            </li>
                        </ul>

                        </tbody>
                    </table>

                </div>

                <div class="footer-list">

                    <p class="footer-list-titre">Newsletter</p>

                    <p class="newsletter-text">
                        Authoritatively morph 24/7 potentialities with error-free partnerships.
                    </p>

                    <form action="" class="newsletter-form">
                        <input type="email" name="email" required placeholder="Email Address" class="newsletter-input">

                        <button type="submit" class="btn btn-primary">Subscribe</button>
                    </form>

                </div>

            </div>

        </div>
    </div>

    <div class="footer-bottom">
        <div class="boite">

            <p class="copyright">
                &copy; 2023 <a href="#" class="copyright-link">codealexis</a>. All Rights Reserved
            </p>

        </div>
    </div>

</footer>





<!--
- #GO TO TOP
-->

<a href="#top" class="go-top-btn" data-go-top>
    <ion-icon name="arrow-up-outline"></ion-icon>
</a>





<!--
- custom js link
-->
<script src="../static/js/script.js"></script>

<!--
- ionicon link
-->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>


