<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="../logo/miniLogo.jpeg" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>PimpMyBolide</title>
    <link rel="stylesheet" href="../css/panier.css" />
    
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="se-pre-con"></div>
    <header>
      <nav>
        <ul>
          <li class="primary-nav">
            <img src="../logo/grosLogo.png" alt="logo" width=100% height=10% />
          </li>
          <li class="secondary-nav">
            <a href="lien a mettre">
              <i class="panierpanier"></i> Panier
            </a>
          </li>
          
          <li class="secondary-nav">
            <a href="encore un autre lien a mettre">A propos de nous</a>
          </li>
        </ul>
      </nav>
    </header>
    <section>
      <h1>Panier</h1>
      <div class="row">
        <div class="column">
          <h1>Votre commande</h1>
          <h5>Veuillez sélectionner la quantité</h5>
          <div class="cart-item" id="item">
            <img class="presentation" src="../Photo_Voiture/3-face.jpg" alt="" />
            <p class="nom">Mercedes G63</p>
            <p class="prix">89 900 €</p>
            <input class="quantite"
              type="number"
              name="quantity"
              id="no-of-items"
              value="1"
              min="1"
              max="6"
              step="1"
            />
            <a href="#" class="supprimer">
              <img src="../logo/supprimer.jpeg" width="80" height="80" alt="Loge">
            </a>
          </div>
          <div class="cart-item" id="item1">
            <img class="presentation" src="../Photo_Voiture/1-face.jpg" alt="" />
            <p class="nom">Fiat Abarth</p>
            <p class="prix">34 900 €</p>
            <input class="quantite"
              type="number"
              name="quantity"
              id="no-of-items"
              value="1"
              min="1"
              max="6"
              step="1"
            />
            <a href="#" class="supprimer">
              <img src="../logo/supprimer.jpeg" width="80" height="80" alt="Loge">
            </a>
          </div>
          <div class="cart-item" id="item2">
            <img class="presentation" src="../Photo_Voiture/5-face.jpg" alt="" />
            <p class="nom">Ferrari Roma</p>
            <p class="prix">281 500 €</p>
            <input class="quantite"
              type="number"
              name="quantity"
              id="no-of-items"
              value="1"
              min="1"
              max="6"
              step="1"
            />
            <a href="#" class="supprimer">
              <img src="../logo/supprimer.jpeg" width="80" height="80" alt="Loge">
            </a>
          </div>
          <hr />
        </div>
        <div class="column2">
          <h3>Total du panier</h3>
          <div class="row1">
            <div class="col">
              <h5>prix commande :</h5>
              <h5>Frais </h5>
            </div>
            <div class="col">
              <p>beaucoup €</p>
              <div class="wrapper">
                <span>
                  <input type="radio" name="shipping" id="" checked />Livraison à votre adresse : 23 000€
                </span>
                <span>
                  <input type="radio" name="shipping" id="" />En magasin : 0€
                  <br />
                </span>
                
              </div>
            </div>
          </div>
          <h3>Total &nbsp; &nbsp; beaucoup +€€€</h3>
          <div class="buttons">
            <a class="button-checkout" href="validerPanier.html">Valider</a>
            <a class="cancel" href="../HTML/men.html">Continue Shopping</a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
