{% extends 'layout.html' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style/panier.css') }}" />
    <link
            href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap"
            rel="stylesheet"
    />
{% endblock %}
{% block body %}
    <div class="se-pre-con"></div>
    <section>
        <h1>Panier</h1>
        <div class="row">
            <div class="column">
                <h1>Votre commande</h1>
                {% if panier | length >= 1 %}
                    {% for voiture in panier %}
                        <div class="cart-item" id="item">
                            <img class="presentation" src="/static/images/photo_voiture/{{ voiture["0"].idVoiture }}-face.jpg" alt="" />
                            <p class="nom">{{ voiture["0"].nomVoiture }}</p>
                            <p class="prix">{{ voiture["0"].prixVoiture }}</p>
                            <input class="quantite"
                                   type="number"
                                   name="quantity"
                                   id="nox-of-items"
                                   value="1"
                                   min="1"
                                   max="6"
                                   step="1"
                            />
                            <a href="#" class="supprimer">
                                <img src="/static/images/supprimer.jpeg" width="80" height="80" alt="Loge">
                            </a>
                        </div>
                    {% endfor %}
                {% else %}
                    <tr>
                        <th>
                            Panier Vide
                        </th>
                    </tr>
                {% endif %}
                <hr />

            </div>


            <div class="column2">
                <h3>Total du panier</h3>
                <div class="row1">
                    <div class="col">
                        <h5>prix commande :</h5>
                        <h5>Frais </h5>
                    </div>
                    <div class="col">
                        <p>beaucoup €</p>
                        <div class="wrapper">
                <span>
                  <input type="radio" name="shipping" id="" checked />Livraison à votre adresse : 23 000€
                </span>
                            <span>
                  <input type="radio" name="shipping" id="" />En magasin : 0€
                  <br />
                </span>

                        </div>
                    </div>
                </div>
                <h3>Total &nbsp; &nbsp; beaucoup +€€€</h3>
                <div class="buttons">
                    <a class="button-checkout" href="validerPanier.html">Valider</a>
                    <a class="cancel" href="../HTML/men.html">Continue Shopping</a>
                </div>
            </div>
        </div>
    </section>
{%endblock%}