{% extends 'layout.html' %}

{% block title %}
    <title>PimpMyBolide</title>
{% endblock %}

{% block body %}
    <article>
        <!--
          - #PRODUCT
        -->

        <section class="section product">
            <div class="container">

                <h2 class="h2 section-title">Bestsellers bolide</h2>

                <ul class="filter-list">

                    <li>
                        <button class="filter-btn  active">All</button>
                    </li>

                    <li>
                        <button class="filter-btn">Ferrari</button>
                    </li>

                    <li>
                        <button class="filter-btn">Fiat </button>
                    </li>

                    <li>
                        <button class="filter-btn">Porche</button>
                    </li>

                    <li>
                        <button class="filter-btn">BMW</button>
                    </li>

                    <li>
                        <button class="filter-btn">Mercedes</button>
                    </li>

                </ul>

                <!--Filtre-->
                <ul class="Filtre1">

                    <li>
                        <div>
                            <input type="checkbox" class="Filtre1-cases" name="Filtre1-cases" checked />
                            <label for="Filtre1-cases">Scales</label>
                        </div>
                    </li>

                    <input type="checkbox" class="Filtre1-cases" name="Filtre1-cases" checked />
                    <li>
                        <div>
                            <label for="Filtre1-cases">Scales</label>
                        </div>
                    </li>

                    <li>
                        <div>
                            <label for="Filtre1-cases">Scales</label>
                            <input type="checkbox" class="Filtre1-cases" id="Filtre1-cases" name="Filtre1-cases" checked />
                        </div>
                    </li>

                    <li>
                        <div>
                            <label for="Filtre1-cases">Scales</label>
                            <input type="checkbox" class="Filtre1-cases" id="Filtre1-cases" name="Filtre1-cases" checked />
                        </div>
                    </li>

                    <li>
                        <div>
                            <label for="Filtre1-cases">Scales</label>
                            <input type="checkbox" class="Filtre1-cases" id="Filtre1-cases" name="Filtre1-cases" checked />
                        </div>
                    </li>

                    <li>
                        <div>
                            <label for="Filtre1-cases">Scales</label>
                            <input type="checkbox" class="Filtre1-cases" id="Filtre1-cases" name="Filtre1-cases" checked />
                        </div>
                    </li>

                </ul>


                <ul class="product-list">

{#                    <li class="product-item">#}
{#                        <div class="product-card" tabindex="0">#}
{##}
{#                            <figure class="card-banner">#}
{#                                <img src="./assets/images/AbarthFace.jpg" width="312" height="350" loading="lazy"#}
{#                                     alt="Fiat Abarth 595" class="image-contain">#}
{##}
{#                                <div class="card-badge">New</div>#}
{##}
{#                                <ul class="card-action-list">#}
{##}
{#                                    <li class="card-action-item">#}
{#                                        <button class="card-action-btn" aria-labelledby="card-label-1">#}
{#                                            <ion-icon name="cart-outline"></ion-icon>#}
{#                                        </button>#}
{##}
{#                                        <div class="card-action-tooltip" id="card-label-1">Ajouter au panier</div>#}
{#                                    </li>#}
{##}
{#                                    <li class="card-action-item">#}
{#                                        <button class="card-action-btn" aria-labelledby="card-label-2">#}
{#                                            <ion-icon name="heart-outline"></ion-icon>#}
{#                                        </button>#}
{##}
{#                                        <div class="card-action-tooltip" id="card-label-2">Ajouter à la liste d'envie</div>#}
{#                                    </li>#}
{##}
{##}
{##}
{##}
{##}
{#                                </ul>#}
{#                            </figure>#}
{##}
{#                            <div class="card-content">#}
{##}
{#                                <div class="card-cat">#}
{#                                    <a href="#" class="card-cat-link">Sport</a> /#}
{#                                    <a href="#" class="card-cat-link">compact</a>#}
{#                                </div>#}
{##}
{#                                <h3 class="h3 card-title">#}
{#                                    <a href="#">Fiat Abarth 595</a>#}
{#                                </h3>#}
{##}
{#                                <data class="card-price" value="28000">28 000€</data>#}
{##}
{#                            </div>#}
{##}
{#                        </div>#}
{#                    </li>#}
                </ul>

            </div>
        </section>










        <!--
          - #SERVICE
        -->

        <section class="section service">
            <div class="container">

                <ul class="service-list">



                    <li class="service-item">
                        <div class="service-card">

                            <div class="card-icon">
                                <img src="{{ url_for('static', filename = 'images/service-2.png') }}" width="43" height="35" loading="lazy" alt="Service icon">
                            </div>

                            <div>
                                <h3 class="h4 card-title">Quick Payment</h3>

                                <p class="card-text">
                                    100% secure payment
                                </p>
                            </div>

                        </div>
                    </li>

                    <li class="service-item">
                        <div class="service-card">

                            <div class="card-icon">
                                <img src="{{ url_for('static', filename = 'images/service-3.png') }}" width="40" height="40" loading="lazy" alt="Service icon">
                            </div>

                            <div>
                                <h3 class="h4 card-title">Free Returns</h3>

                                <p class="card-text">
                                    Money back in 30 days
                                </p>
                            </div>

                        </div>
                    </li>

                    <li class="service-item">
                        <div class="service-card">

                            <div class="card-icon">
                                <img src="{{ url_for('static', filename = 'images/service-4.png') }}" width="40" height="40" loading="lazy" alt="Service icon">
                            </div>

                            <div>
                                <h3 class="h4 card-title">24/7 Support</h3>

                                <p class="card-text">
                                    Get Quick Support
                                </p>
                            </div>

                        </div>
                    </li>

                </ul>

            </div>
        </section>
{% endblock %}